NODE_ENV=development

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=uvg_collab
DB_PORT=5433

JWT_SECRET=super-secret-key-change-in-production
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/uvg_collab?schema=public

NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_API_PREFIX=/api
